@mixin flex-setup {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

@mixin button-styles {
  button {
    transition: 0.2s ease-in-out all;
    border: none;
    margin: none;
    color: #555555;
    border-radius: 5px;
    padding: 1.25rem;
    padding-inline: 1.75rem;
    background-color: transparent;
  }

  button:hover {
    cursor: pointer;
  }
}

@mixin link-styles {
  a {
    text-decoration: none;
    color: #555555;
    transition: 0.2s ease-in-out all;
  }

  a:hover {
    color: #8a8a8a;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.page-container {
  @include flex-setup;
  @include button-styles;
  @include link-styles;
  flex-direction: column;
  justify-content: space-between;

  // Navbar and Banner Section
  .hero-container {
    button:hover {
      background-color: #e91e626d;
      cursor: pointer;
      transition: 0.3s ease-in-out all;
    }

    .more-button {
      button {
        color: #ffffff;
        transition: 0.2s ease-in-out all;
        background-color: #e91e63;
        border: none;
        margin: none;
        border-radius: 30px;
      }

      button:hover {
        background-color: #ce0045;
        cursor: pointer;
      }
    }

    background: linear-gradient(
      45deg,
      rgba(168, 29, 132, 1) 0,
      rgb(234, 57, 111) 100%
    );
    display: flex;
    flex-direction: column;
    min-height: 500px;

    .hero-body {
      @include flex-setup;
      justify-content: center;
      align-items: center;
      border: 1px solid red;
      color: white;
      font-size: 1.5rem;
    }

    .navbar-container {
      background-color: #ffffff;
      height: 6rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .navbar-left-column {
        padding-left: 10rem;
        width: 25%;
        display: flex;
        justify-content: flex-start;
      }

      .navbar-right-column {
        width: 25%;
        display: flex;
      }
    }
  }

  //Main Body Section
  .page-body-container {
    @include flex-setup;
    justify-content: center;
    align-items: center;
    height: auto;

    .main-body-wrapper {
      @include flex-setup;
      @include link-styles;

      @mixin body-elements {
        @include flex-setup;
        flex-direction: column;
        min-height: 200px;
        width: 75%;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;

        .top-tag {
          padding-bottom: 10px;
        }

        .header {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .text {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .footer {
          padding-top: 10px;
          a {
            font-weight: 900;
            color: black;
          }

          a:hover {
            color: rgb(84, 84, 84);
          }
        }
      }

      flex-direction: column;
      height: auto;
      width: 96%;
      justify-content: center;
      align-items: center;
      margin-top: -60px;
      background-color: white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1),
        0 12px 40px 0 rgba(0, 0, 0, 0.3);
      padding-top: 70px;
      padding-bottom: 70px;

      .top-tag {
        font-size: 12px;
      }

      .header {
        font-size: 25px;
        font-weight: 900;
      }

      .text {
        font-size: 14px;
        font-weight: 100;
        color: #999999;
      }

      .footer {
        font-size: 14px;
      }

      .worth-a-thousand-words {
        @include body-elements;
        .top-tag {
          a {
            color: #89229b;
          }

          a:hover {
            color: #da8de8;
          }
        }
      }

      .elements {
        @include body-elements;

        .top-tag {
          a {
            color: #00bcd4;
          }

          a:hover {
            color: #45dcf0;
          }
        }
      }

      .more-tags {
        @include body-elements;

        .top-tag {
          a {
            color: #f44336;
          }

          a:hover {
            color: #ff877e;
          }
        }
      }

      .html {
        @include body-elements;

        .top-tag {
          a {
            color: #ff9800;
          }

          a:hover {
            color: #ffc369;
          }
        }
      }

      .links {
        @include body-elements;

        .top-tag {
          a {
            color: #e91e63;
          }

          a:hover {
            color: #e96d96;
          }
        }
      }

      .hello-world {
        @include body-elements;

        .top-tag {
          a {
            color: #4caf50;
          }

          a:hover {
            color: #88b788;
          }
        }
      }
    }
  }

  //Footer Section
  .footer-container {
    @include link-styles;

    margin-top: auto;
    display: flex;
    width: 100%;
    min-height: 7rem;
    justify-content: space-around;
    align-items: center;
    background-color: #323437;
    color: #ffffff;

    a {
      color: #ffffff;
    }

    .footer-left-column {
      display: flex;
      flex-direction: row;
      min-width: 150px;
      justify-content: space-between;
    }

    .footer-right-column {
      display: flex;
    }
  }
}
